.book-ride-section {
  background-color: #000;
  padding: clamp(100px, 8vw, 150px) 20px clamp(60px, 8vw, 150px);
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 6vw, 60px);
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.ride-card {
  display: flex;
  flex-direction: column;
  background-color: #111;
  padding-bottom: 20px;
  color: #fff;
  width: 100%;
  max-width: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 28px rgba(255, 255, 255, 0.05);
  transition: transform 0.4s ease, box-shadow 0.4s ease;;
}

.ride-card:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 35px rgba(255, 255, 255, 0.08);
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5); 
  opacity: 1; 
}

.swiper-pagination-bullet-active {
  background: #ff4040; 
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.ride-image {
  width: 100%;
  overflow: hidden;
}

.ride-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

.ride-card:hover .ride-image img {
  transform: scale(1.05);
}

.ride-content {
  padding: clamp(16px, 3vw, 40px);
  width: 100%;
}

.ride-title {
  font-size: clamp(18px, 3vw, 30px);
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
}

.ride-subtitle {
  font-size: clamp(13px, 1.8vw, 16.5px);
  color: #ccc;
  margin-bottom: 18px;
}

.ride-description {
  font-size: clamp(13px, 1.6vw, 15px);
  line-height: 1.6;
  margin-bottom: 25px;
  text-align: justify;
  color: #bbb;
}

.book-btn {
  padding: clamp(10px, 1.5vw, 12px) clamp(20px, 3vw, 28px);
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: clamp(12px, 1.4vw, 14px);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: fit-content;
}

.book-btn:hover {
  background: linear-gradient(90deg, #fff, #aaa);
  color: #000;
  transform: scale(1.03);
}

.ride-cards-desktop {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.ride-cards-mobile {
  display: none;
  width: 100%;
}

@media (min-width: 768px) {
  .ride-card {
    flex-direction: row;
  }
  .ride-image {
    flex: 1;
    max-height: 400px;
  }
  .ride-image img {
    height: 100%;
    border-radius: 12px 0 0 12px;
  }
  .ride-content {
    flex: 1;
  }
}

@media (max-width: 767px) {
  .ride-cards-desktop {
    display: none;
  }
  .ride-cards-mobile {
    display: block;
  }
  .ride-content {
   width: 91%;
  }
  .ride-card {
    flex-direction: column;
  }
  .ride-image img {
    border-radius: 12px 12px 0 0;
  }
  .book-btn {
    width: 100%;
    text-align: center;
  }
}