.contact-section {
  background-color: #fff;
  padding: 30px 50px;
  border: 1px solid red;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  animation: fadeIn 0.8s ease forwards;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 14px 0px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.5s forwards;
}

.contact-item:last-child {
  border-bottom: none;
}

.contact-label {
  color: black;
  transition: color 0.3s ease;
}

.contact-icon {
  font-size: 25px;
  color: black;
  transition: transform 0.3s ease;
}

.contact-item:hover .contact-label {
  color: red;
}

.contact-item:hover .contact-icon {
  transform: translateX(5px);
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {

  .contact-section {
    padding: 30px 20px;
  }

  .contact-item {
    font-size: 18px;
    padding: 12px 0px;
  }

  .contact-icon {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .contact-item {
    font-size: 16px;
    padding: 12px 0px;
  }
/* 
  .contact-icon {
    font-size: 18px;
  } */
}
