.footer-section {
  background-color: black;
  color: white;
  padding: 40px 30px 15px;
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: justify;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex: 1;
  min-width: 200px;
  margin: 10px 20px;
  transition: all 0.3s ease;
}

.footer-col-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.footer-col h4 {
  color: red;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer-col-links {
  list-style: none;
  padding: 0;
  max-height: none;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.footer-col-links li {
  color: #bbb;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-col-links li:hover {
  color: #fff;
}

.toggle-icon {
  display: none;
  font-size: 14px;
  color: #ff0000;
}

.social-footer {
  text-decoration: none;
  border-top: 1px solid #333;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  animation: fadeIn 1s ease-in;
}

.social-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.social-item:hover {
  color: red;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 20px;
  text-align: center;
  animation: fadeIn 1.2s ease-in;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  font-weight: bold;
  font-size: 14px;
  color: #ccc;
}

.footer-copy {
  font-size: 13px;
  color: #aaa;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
  }

  .footer-col {
    margin: 0px; 
  }

  .toggle-icon {
    display: inline;
  }

  .footer-col-links {
    max-height: 0;
    overflow: hidden;
  }

  .footer-col-links.open {
    max-height: 1000px;
  }
}

@media (max-width: 480px) {
  .social-item {
    font-weight: 600;
    font-size: 12.5px;
  }

  .social-footer {
    gap: 25px;
  }

  .footer-links {
    font-size: 11px;
  }

  .footer-copy {
    font-size: 10px;
  }

  .footer-col-links {
    max-height: 0;
    overflow: hidden;
  }
}