.general-packages-section {
  padding: 30px 0px;
  background-color: #121212;
  /* background-color: #ffffff; */
  overflow-x: hidden !important;
  text-align: center;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
}

.general-packages-header {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  align-items: center;
  color: #ff0000;
}

.general-packages-header h2 {
  font-size: 2rem;
  font-weight: bold;
}

.know-more {
  margin-right: 60px;
  text-decoration: none !important;   
  color: inherit;
  font-weight: 500;
  color: #ff0000;
}

.know-more:hover {
  transform: scale(1.1) !important;
}

.big-arrow {
  font-size: 25px;  
  margin-left: 5px;
}

.general-packages-swiper {
  border-radius: 20px !important;
  /* background-color: #f5f5f5; */
  margin-top: 1rem !important;
  background-color: #000;
  padding: 4rem !important;
  max-width: 1000px;
  width: 100%;
  padding: 40px 0px 0px;
  overflow-x: hidden !important;
}

.general-package-card {
  padding-top: 45px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  transform: scale(0.7);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.6s ease-in-out;
}

.general-package-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   /* object-fit: contain; */
  border-radius: 15px;
}

.swiper-slide-active .general-package-card {
  padding-top: 0px;
  transform: scale(1.1);
  height: 500px;
  background: #fff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  filter: none;
  opacity: 1;
}

.swiper-slide-prev .general-package-card,
.swiper-slide-next .general-package-card {
  transform: scale(0.7);
  filter: blur(2px);
  opacity: 0.6;
}

.general-package-footer {
  width: 100%;
  border-radius: 0 0 15px 15px;
  padding: 15px 0;
  color: #ff0000;
  background-color: rgba(0, 0, 0, 0.5);
  background: blur(6px);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.general-package-footer h3 {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.view-details {
  display: inline-block;
  margin: 5px auto 0;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  border: #f5f5f5 2px solid;
  max-width: max-content;
  padding: 6px 14px;
  color: #f9f8f5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-details:hover {
  transform: scale(1.05);
  color: #ff0000;
}

@media (max-width: 600px) {
  .general-packages-header {
    margin-left: 20px;
    margin-bottom: 0px;
  }

  .general-package-footer {
    padding: 10px 0;
  }

  .general-packages-header h2 {
    font-size: 1.3rem;
    font-weight: 800;
  }

  .know-more {
    margin-right: 20px;
  }

  .general-packages-swiper {
    background-color: #121212;
    padding: 0rem !important;
  }

  .general-package-card {
    transform: scale(0.7);
    height: 300px;
    padding-top: 20px;
  }

  .general-package-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide-active 
  .general-package-card {
    height: 350px;
  }

  .view-details {
    font-size: 0.85rem;
    padding: 5px 10px;
  }
}

@media (max-width: 500px) {
  .general-packages-section {
    padding: 10px 0px 0px;
  }

  .general-packages-swiper {
    padding: 20px 0px 10px;
  }
}  